body{

    position: relative;
    display: flex;
    flex-direction: column;
}
.card{
    width: 18rem;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.cardview{
    padding: 50px;
    
}

